body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

table {
  width: 100%;
}

/* navbar */
.country-list {
  background-color: #fdf6e3;
}

.nav {
  background-color: white;
  padding: 10px;
}

.left h2 {
  color: darkblue;
}

/* countrylist */
.blue {
  color: darkblue;
}

.details {
  width: 90%;
  margin: auto;
}

.heading {
  padding: 30px 0px;
}

.table {
  width: 100%;
}

tr {
  box-shadow: 0 3px 1px lightgray;
  margin-bottom: 2px;
  background-color: white;
}
td {
  padding: 15px;
}

.detail-head {
  background-color: #f2f2f2;
}
.detail-head td {
  font-weight: 600;
}

.red {
  background-color: red;
  color: white;
}
.green {
  background-color: lightgreen;
}

/* detail of individual country */

.country-details {
  background-color: #fdf6e3;
  width: 100%;
  height: 93vh;
}

img {
  width: 100%;
  height: 100%;
}

.flag-image {
  width: 10%;
  padding-top: 20px;
}
h1 {
  font-family: sans-serif;
}
.country-name {
  padding: 0px 20px;
}

.card {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0.4px lightgray;
  margin: 20px 0px;
}

.total-number {
  color: darkblue;
  font-family: sans-serif;
  padding: 20px 20px;
}
.card h2 {
  color: darkblue;
  padding: 5px 10px;
  text-align: center;
}
.card h1 {
  margin-left: 20px;
}

.new-cases {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.count {
  font-size: 2rem;
}

.details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.country-name {
  text-align: center;
  padding: 30px 0px;
}
